<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="shortcut icon" href="img/Slogo.png">
    <link rel="stylesheet" href="styles/categories.css">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap"
            rel="stylesheet">
    <!--Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--Boostrap-->
    <link href="bootstrap-5.3.2-dist/css/bootstrap.css" rel="stylesheet">
    <!--Fontawesome icons-->
    <script src="https://kit.fontawesome.com/e4e39c0277.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            color: white;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
        }

        form {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 1px 20px rgba(255, 255, 255, 0.4);
        }

        button {
            margin-top: 10px;
        }
    </style>
</head>
<body>
<%- include('blocks/header') -%>
<div class="container ">

    <h1 class="mt-4">Add Product</h1>

    <!-- Product Form -->
    <form class="mt-5 mb-5" id="productForm" action="/upload" method="post" enctype="multipart/form-data">
        <div class="form-group mt-3">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" id="productName" name="productName" onchange="updateAlert(-1)" required>
        </div>
        <div class="form-group mt-3">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" rows="3"  onchange="updateAlert(-1)" required></textarea>
        </div>
        <div class="form-group mt-3">
            <label for="price">Price:</label>
            <input type="number" class="form-control" id="price" name="price" step="1000" onchange="updateAlert(-1)" required>
        </div>
        <div class="form-group mt-3">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" onchange="updateAlert(-1)" required>
        </div>
        <div class="form-group mt-3">
            <label for="category">Category:</label>
            <select class="form-select" aria-label="Default select example" id="category" name="category">
                <option selected></option>
                <% categories.forEach(function(category){ %> 
                    <option><%= category %></option>
                <% }); %>
              </select> 
        </div>
        <div class="form-group mt-3">
            <label for="image">Photo</label>
            <input type="file" id="image" name="image" accept="image/*" required>
        </div>

        <button type="button" class="btn btn-outline-warning  mt-3 w-100" onclick="equipSubmit()" id="add-prod-btn">Add Product</button>
        <div id="status"></div>
    </form>
</div>
<%- include('blocks/footer') -%>

<script>
    function handleFormSubmission(url, formData, callback) {
        let status = 0;
        fetch(url, {
            method: 'POST',
            body: formData
        })
            .catch(error => {
                status = 1;
                console.error('ErrorTest:', error)
            });
        callback(status);
    }
    function equipSubmit(){
        const formID = document.getElementById('productForm');
        if (formID.innerHTML === ""){
            return;
        }
        const formData = new FormData(formID);
        handleFormSubmission('/add-equip-db', formData, updateAlert);
    }
    function updateAlert(status){
        const alert = document.getElementById('status');
        const button = document.getElementById('add-prod-btn')
        if (status == 0){
            alert.classList = 'alert alert-success mt-3'
            alert.innerHTML = "Added Succesfully"
            button.disabled = true;
        } else if (status == 1){
            alert.classList = 'alert alert-warning mt-3'
            alert.innerHTML = "Error"
            button.disabled = false;
        }
        else{
            alert.classList = "";
            alert.innerHTML = "";
            button.disabled = false;
        }
    }
</script>
<script src="bootstrap-5.3.2-dist/js/bootstrap.js"></script>
<script src="js/indexScript.js"></script>
</body>
</html>
