<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Erkeldy App</title>
  <!--CSS-->
  <link rel="stylesheet" href="styles/indexCSS.css">
  <!--Favicon-->
  <link rel="shortcut icon" href="img/banana.png">
  <!--Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Zen+Dots&display=swap"
    rel="stylesheet">
  <!--Jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <!--Boostrap-->
  <link href="bootstrap-5.3.2-dist/css/bootstrap.css" rel="stylesheet">
  <!--Fontawesome icons-->
  <script src="https://kit.fontawesome.com/e4e39c0277.js" crossorigin="anonymous"></script>
</head>

<body data-bs-theme="dark" class="bg-secondary">
  
  <%- include('blocks/header') -%>

  <section class="container-fluid container-md">
    <h1 class="text-center m-5">Camera</h1>
    <div class="cards">
      <a href="concreteEquip.html">
        <div class="equip-card m-5">
          <div class="card-img">
            <img src="/img/ILCE7M2B 1.png">
          </div>
          <div class="card-info">
            <h3 class="card-title text-center">Sony a7 Pro Full Frame</h3>
            <p class="price text-info">49 990</p>
          </div>
        </div>
      </a>

      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/ILCE7M2B 1.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Sony a7 Pro Full Frame</h3>
          <p class="price text-info">49 990</p>
        </div>
      </div>

      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/ILCE7M2B 1.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Sony a7 Pro Full Frame</h3>
          <p class="price text-info">49 990</p>
        </div>
      </div>

      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/ILCE7M2B 1.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Sony a7 Pro Full Frame</h3>
          <p class="price text-info">49 990</p>
        </div>
      </div>

      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/ILCE7M2B 1.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Sony a7 Pro Full Frame</h3>
          <p class="price text-info">49 990</p>
        </div>
      </div>
    </div>

    <!--Lens!!!-->
    <h1 class="text-center m-5">Lens</h1>
    <div class="cards">
      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/1701421 copy.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Sony FE 24mm f/1.4 GM Review</h3>
          <p class="price text-info">15 990</p>
        </div>
      </div>
      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/1701421 copy.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Sony FE 24mm f/1.4 GM Review</h3>
          <p class="price text-info">49 990</p>
        </div>
      </div>
      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/1701421 copy.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Sony FE 24mm f/1.4 GM Review</h3>
          <p class="price text-info">49 990</p>
        </div>
      </div>

    </div>

    <h1 class="text-center m-5">Light</h1>
    <div class="cards">
      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/p600c.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Nova P600c</h3>
          <p class="price text-info">10 990</p>
        </div>
      </div>
      <div class="equip-card m-5">
        <div class="card-img">
          <img src="/img/amaran300cblack_8.png">
        </div>
        <div class="card-info">
          <h3 class="card-title text-center">Amaran 300c</h3>
          <p class="price text-info">10 990</p>
        </div>
      </div>
    </div>
  </section>

  <%- include('blocks/footer') -%>

  </div>
  <!-- End of .container -->
  <script src="bootstrap-5.3.2-dist/js/bootstrap.js"></script>
  <script src="js/indexScript.js"></script>
</body>

</html>