<footer class="text-center text-white" style="background-color: #0b0b0b;">
    <div class="container pt-4">
      <section class="mb-4">
        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="https://www.instagram.com/skts_rent?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" role="button"><i class="fab fa-instagram"
            style="color: #ffffff;"></i></a>


        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"><i
            class="fa-brands fa-telegram" style="color: #ffffff;"></i>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
          <i class="fa-solid fa-envelope" style="color: #ffffff;"></i>
        </a>
        <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button">
          <i class="fa-brands fa-whatsapp" style="color: #ffffff;"></i>
        </a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #0b0b0b;">
      © 2024 Copyright:
      <a class="text-light" href="#">AsainovDamir.com</a>
    </div>
    <!-- Copyright -->
  </footer>